.btn {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 15px 20px;

  color: $color-dark-3xl;
  text-align: center;
  letter-spacing: 0.06em;

  font-family: $ff-georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  background-color: $color-primary;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;

  transition: color $trans-default, background-color $trans-default, border $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    color: $color-dark-s;
    border: 2px solid $color-dark-s;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-primary-light;
    }
  }

  &--bordered {
    background-color: transparent;

    border: 2px solid $color-primary;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
      }
    }
  }

  &--round {
    display: grid;
    place-content: center;
    width: 52px;
    height: 52px;
    padding: 0;
    border-radius: 50%;
  }
}
