.details {
  margin: 0;
  padding: 0;
  list-style-position: inside;

  &__item {
    margin-bottom: 11px;
    font-family: $ff-georgia;
    font-size: 16px;
    line-height: 110%;
    will-change: transform;

    @include vp-1023 {
      margin-bottom: 5px;
      letter-spacing: 0.02em;
    }
  }

  &__key {
    margin-left: -8px;
    font-weight: 700;
  }

  &__colon {
    margin-left: -2px;
  }
}
