.hero {
  // background-image: url("/img/bg/noise_transparent.png");
  background: url("../img/bg/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;

  .container {
    display: flex;
    justify-content: center;

    @include vp-1023 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-family: $ff-georgia;
    color: $color-default-white;
    max-width: 75%;
    margin-bottom: 41px;

    @include vp-767 {
      max-width: 80%;
      font-size: 25px;
      line-height: 130%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      letter-spacing: 0.06em;
    }
  }

  &__text {
    color: $color-dark-s;
    margin-bottom: 42px;

    @include vp-767 {
      text-align: center;
    }
  }

  &__col-left {
    max-width: 470px;
    padding-top: clamp(200px, 26.5vw, 344px);

    @include vp-1023 {
      padding-top: 151px;
      max-width: 460px;
    }

    @include vp-767 {
      padding-top: 150px;
    }
  }

  &__col-right {
    padding-top: 180px;
    padding-left: 32px;

    @include vp-1023 {
      padding: 0;
      padding-top: 99px;
    }

    @include vp-767 {
      padding-top: 103px;
    }
  }

  &__img {
    @include vp-1023 {
      max-width: 81.5%;
      margin: 0 auto;
      transform: translateX(68px);
    }

    @include vp-767 {
      max-width: 87.7%;
      transform: translateX(20px);
    }
  }

  .btn {
    width: 207px;

    @include vp-1023 {
      display: block;
      margin: 0 auto;
    }
  }
}
