/* -------------------------------------
 * style
 * ------------------------------------- */

body {
  //   width: 890px;
  margin: 0 auto;
  padding: 100px 30px 30px;
  font-family: 'Average Sans', sans-serif;
  color: $text;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  //   background: #c7dbe5;
}

/*------- Keyboard -------*/

.keyboard {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content;
  padding: 30px 8px 13px;
  margin: 0 auto;
  background: $keyboard;
  background: linear-gradient(top, #e5e2e1, #f5f3f1, #e5e2e1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
  transform: rotateX(15deg);
  box-sizing: initial;
  user-select: none;

  * {
    box-sizing: initial;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &--main {
    min-width: 880px;
  }
}

.row {
  display: flex;
}

.main {
  padding: 2px;
  background: $black;
  border-radius: 4px;
  overflow: hidden;
}

.function {
  background: $black;
  margin-bottom: 10px;

  .key .keycap {
    padding-top: 14px;
  }

  .row {
    & > .key {
      margin-right: auto;

      .keycap {
        padding-top: 0;
      }
    }
  }

  &__group {
    margin-left: 20px;
  }
}

.background {
  background: $black;
  border-radius: 4px;
  padding: 2px 2px 2px;
}

.controls {
  .function__group {
    margin: 0;
  }

  .keycap {
    display: grid;
    place-content: center;
    padding: 0 !important;
    font-size: 13px;
  }
}

.arrows {
  margin-top: auto;

  .row {
    justify-content: center;
  }

  .keycap {
    font-size: 26px;
  }
}

.key,
.f_key {
  width: 40px;
  height: 45px;
  margin: 2px;
  border-width: 3px 7px 10px;
  border-style: solid;
  border-radius: 4px;
  float: left;
  &.pressed {
    transform: scale(0.95, 0.95);
  }
}

.key {
  background: #cfc7ba;
  border-color: #cfc7ba;

  &--mid {
    width: 60px;
  }

  &--auto {
    flex-grow: 1;
  }
}

.keycap {
  svg {
    width: 20px;
    height: 20px;
    color: $text;
  }
}

.f_key {
  background: #a49888;
  border-color: #a49888;
}

.keycap {
  box-sizing: border-box;
  width: 40px;
  width: auto;
  height: 46px;
  padding: 5px 0 0 7px;
  font-size: 18px;
  line-height: 1;
  background: #dbd5c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.f_key .keycap {
  display: flex;
  align-items: center;
  width: inherit;
  width: auto;
  height: inherit;
  font-size: 15px;
  padding-left: 6px;
  padding-top: 0;
  background: #b9aea0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.top {
  padding: 3px 5px 0 0;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  line-height: 1;
  display: block;
}

.bottom {
  width: inherit;
  line-height: 20px;
  display: block;
}

.side {
  font-size: 10px;
  line-height: 1;
  display: block;
  position: absolute;
  left: 4px;
  bottom: -10px;
  transform: rotateX(50deg);
}

.f_key .side {
  left: -3px;
}

.k13 .side {
  right: 7px;
  text-align: right;
}

/*------- key width -------*/

// esc and left alt
.k27,
.k18.left {
  width: 38px;
  border-right-width: 9px;
}

// ~ , fn and right alt
.k192,
.fn,
.k18.right {
  width: 38px;
  border-left-width: 9px;
}

// tab
.key--tab {
  width: 66px;
  border-right-width: 10px;
}

// delete
.k8 {
  width: 66px;
  border-left-width: 10px;
}

// control
.key--caps {
  width: 87px;
  border-right-width: 10px;
}

// return
.k13 {
  width: 103px;
  border-left-width: 10px;
}

// left shift
.key--shift {
  width: 113px;
  border-right-width: 10px;
}

// right shift
.k16.right {
  width: 77px;
  border-left-width: 10px;
}

// cmd
.k91,
.k93 {
  width: 72px;

  .top {
    font-size: 13px;
  }
  .bottom {
    font-size: 20px;
  }
}

.k91.left {
  border-right-width: 10px;
}

.k93.right {
  border-left-width: 10px;
}

// space
.k32 {
  width: 328px;
  border-width: 3px 8px 10px;

  .keycap {
    width: 321px;
  }

  &.pressed {
    transform: scale(0.98, 0.95);
  }
}

form {
  margin-bottom: 30px;

  input[type="reset"] {
    margin: 0 auto;
    display: block;
  }
}

.form-95 {
  width: 100%;
  border: 2px inset #d5d5d5;
  color: #424242;
  background: #fff;
  box-shadow: -1px -1px 0 0 #828282;
  margin-top: 4px;
  padding-left:2px;
  outline: 0 !important;
}
