.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include vp-767 {
    margin-left: 40px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;
    /* stylelint-disable-next-line */
    min-height: calc(100 * var(--vh, 1vh));
    z-index: 999;

    background-color: rgba(41, 41, 41, 0.6);

    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    -webkit-tap-highlight-color: transparent;


    transition: opacity $trans-modal,
      transform $trans-modal,
      visibility $trans-modal;

  }

  &__wrapper {
    position: relative;
    transition: opacity $trans-modal,
      transform $trans-modal,
      visibility $trans-modal;

    @include vp-767 {
      position: fixed;
      top: 0;
      bottom: 0;
      // right: 0;
      left: 100%;
      width: 320px;
      padding-top: 250px;
      z-index: 1000;
      overflow: scroll;
      background-color: $color-dark-3xl;
      // transform: translateX(100%);

      transform: none;
    }

    &::before {
      // content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(var(--header-height) + 10px);
      background-color: $color-dark-3xl;
      // background-color: red;
      z-index: 1002;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 60px;
    padding: 0;

    list-style: none;

    @include vp-767 {
      flex-direction: column;
      margin: 0;
      padding-bottom: 40px;
    }
  }

  &__item {
    margin-right: 36px;
    margin-bottom: 5px;

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 41px;
    }

    &:last-child {
      margin-right: 0;

      @include vp-767 {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
    transition: color $trans-default;

    @include vp-767 {
      font-size: 32px;
      line-height: 160%;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-light-s;
      }
    }

    &.is-active {
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        width: 100%;
        height: 3px;
        background-color: $color-primary;

        @include vp-767 {
          top: calc(100% + 6px);
        }
      }
    }
  }

  &__toggle {
    position: relative;
    display: none;
    border: none;
    width: 30px;
    height: 2px;
    margin-right: 44px;
    background-color: $color-primary;
    z-index: 1001;
    transition: transform $trans-default, background-color $trans-default;

    @include vp-767 {
      display: block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $color-primary;
      transition: background-color $trans-default;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }

    &.is-active {
      transform: rotate(90deg);
    }
  }

  &.is-active {
    .main-nav__wrapper {
      // transform: none;

      @include vp-767 {
        transform: translateX(-100%);
      }
    }

    .main-nav__overlay {
      @include vp-767 {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.header--light {
  .main-nav__wrapper {
    @include vp-767 {
      background-color: $color-default-white;
    }
  }

  .main-nav__link {
    color: $color-dark-l;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-dark-3xl;
      }
    }
  }

  .main-nav__toggle {
    @include vp-767 {
      background-color: #000000;
    }

    &::before,
    &::after {
      background-color: #000000;
    }
  }
}
