.pet-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $color-default-black;
  font-family: $ff-georgia;

  @include vp-767 {
    grid-template-columns: 1fr;
  }

  &__col {
    &--description {
      padding: 51px 80px;
      padding-right: 0;

      @include vp-1023 {
        padding: 11px 40px;
        padding-right: 0;
      }

      @include vp-767 {
        padding: 11px 0 clamp(5px, 2%, 4rem);
      }
    }
  }

  &__img {
    width: auto;
    height: 500px;
    object-fit: cover;
    transform: translateX(17px);
    will-change: transform;

    @include vp-1023 {
      height: 350px;
      transform: translateX(7px);
    }

    @include vp-767 {
      display: none;
    }
  }

  &__title {
    margin-bottom: 8px;
    will-change: transform;

    @include vp-767 {
      font-size: 35px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 41px;
    font-family: $ff-georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    will-change: transform;

    @include vp-1023 {
      margin-bottom: 22px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-family: $ff-georgia;
    font-size: 15px;
    line-height: 113%;
    letter-spacing: 0.06em;
    will-change: transform;

    @include vp-1023 {
      font-size: 13px;
      line-height: 108%;
      margin-bottom: 19px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }
}
