.pet-card {
  // max-width: 270px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;

  padding-bottom: 30px;
  border-radius: 9px;
  background-color: $color-light-s;
  transition: background-color $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-default-white;

      .btn {
        color: $color-dark-3xl;
        background-color: $color-primary-light;
        border-color: $color-primary-light;
      }
    }
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__name {
    text-align: center;
    margin-bottom: 30px;
  }

  .btn {
    width: 187px;
    margin: 0 auto;
    padding: 13px 20px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}
