.pets {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $color-light-l;

  @include vp-1023 {
    // padding-bottom: 76px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 41px;
    padding-bottom: 42px;
  }

  &__title {
    max-width: 415px;
    margin: 0 auto;
    margin-bottom: 59px;
    font-family: $ff-georgia;
    text-align: center;

    @include vp-1023 {
      margin-bottom: 59px;
    }

    @include vp-767 {
      max-width: 96%;
      margin-bottom: 42px;
    }
  }

  &__link {
    display: block;
    width: 260px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 40px;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;

    @include vp-1279 {
      grid-template-columns: 270px 270px 270px;
      justify-content: center;
    }

    @include vp-1023 {
      grid-template-columns: 270px 270px;
      // grid-template-columns: 38% 38%;
      justify-content: center;
      gap: 31px 40px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      grid-template-columns: 270px;
      margin-bottom: 42px;
    }
  }

  &__item {
    @include vp-1023 {
      // max-width: 270px;
    }
  }

  .pets-slider {
    margin-bottom: 60px;

    @include vp-767 {
      margin-bottom: 42px;
    }
  }

  &--header-margin {
    margin-top: var(--header-height);
  }

  &--our-pets {
    @include vp-1023 {
      padding-bottom: 76px;
    }

    .pets__title {
      @include vp-1023 {
        margin-bottom: 29px;
      }

      @include vp-767 {
        margin-bottom: 42px;
      }
    }

    .pets__list {
      @include vp-1023 {
        // margin-bottom: 9px;
      }
    }
  }
}
