.round-btn {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 15px 20px;

  color: $color-dark-3xl;
  text-align: center;
  letter-spacing: 0.06em;

  font-family: $ff-georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  background-color: $color-primary;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &--bordered {
    display: grid;
    place-content: center;
    padding: 0;
    background-color: transparent;

    border: 2px solid $color-primary;
  }
}
